# Set Data Type

In [69]:
# A Python set is the collection of the unordered items. 
# Each element in the set must be unique, immutable, and the sets remove the duplicate elements. 
# Sets are mutable which means we can modify it after its creation.
# {} are used to represent the set Data type

In [70]:
a={1,'kamal'}
type(a)

set

In [71]:
# It can contain any type of element such as integer, float, tuple etc. 
# But mutable elements (list, dictionary, set) can't be a member of set

In [72]:
a = {1,2,3, "Engineering", 20.5, 14}  
print(a)
print(type(a))  
#Creating a set which have mutable element  
b = {1,2,3,["Engineering",4]}  
print(b)
print(type(b))

{1, 2, 3, 'Engineering', 14, 20.5}
<class 'set'>

TypeError: unhashable type: 'list'

In [73]:
# check the above code  set() Datatype can be apprecable only for the immutable datatype if we use any mutable data typt like
# list,dict it will gives an error

In [74]:
# checking empty set


a=set()
print(type(a))
b={}
print(type(b))

<class 'set'>
<class 'dict'>

In [75]:
# set is an mutable Data tyoe we can add or remove the elements inside the set

In [76]:
# providing the set with list Datatype
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Sunday', 'Tuesday', 'Saturday', 'Thursday', 'Monday', 'Wednesday', 'Friday'}
<class 'set'>
looping through the set elements ...
Sunday
Tuesday
Saturday
Thursday
Monday
Wednesday
Friday

In [77]:
# Let's see what happened if we provide the duplicate element to the set.
a=set([1,222,3,4,45,5,5,5,5,5])
print(a)

{1, 3, 4, 5, 45, 222}

In [78]:
# see all the duplicate values are removes

In [79]:
# add method is used to add only only one element to the existing set

In [80]:
# methods

In [81]:
# add()
# update()
# remove()
# discard()
# pop()
# union
# intersection
# difference
# symmetric_difference
# intersection_update

In [82]:
a=set(['k','l'])
print('adding an element')
a.add("s");

print(a)

adding an element
{'l', 'k', 's'}

In [83]:
a=set([1,2,3,4,5])
print('adding an element')
a.add(10);
print(a)

adding an element
{1, 2, 3, 4, 5, 10}

In [84]:
# to add multiple elements we need to apply a method called update

a=set([1,2,3,4,5])
print("adding multiple elements")
a.update([10,11,12]);
print(a)

adding multiple elements
{1, 2, 3, 4, 5, 10, 11, 12}

In [85]:
# Python provides the discard() method and remove() method which can be used to remove the items from the set. 
# The difference between these function, using discard() function 
 # if the item does not exist in the set then the set remain unchanged whereas remove() method will through an error.

In [86]:
# using discard method
a={'k','p','s'}
print('by using discard function')
a.discard('p')
# element is not present in the existing set but doesn't gives an error 
a.discard('o')
print(a)

by using discard function
{'s', 'k'}

In [87]:
# using remove method
a={'k','p','s'}
print('by using remove method')
a.remove('s')
a.remove('o')
print(a)

by using remove method

KeyError: 'o'

In [89]:
# example
# Write a program to remove the given number from the set
a = {1,2,3,4,5,6,12,24}  
n = int(input("Enter the number you want to remove"))  
a.discard(n)  
print("After Removing:",a)

Enter the number you want to remove2
After Removing: {1, 3, 4, 5, 6, 12, 24}

In [90]:
# check the anove code remove function gives an error if the element is not present in the given set

In [91]:
# We can also use the pop() method to remove the item. Generally, the pop() method will always remove the last item but the set is unordered, 
# we can't determine which element will be popped from set

In [92]:
# pop() method
a=set(['k','a','m','l'])
a.pop()
print(a)

{'k', 'a', 'm'}

In [93]:
a={'k','a','m','l','m'}
a.pop()
print(a)

{'k', 'a', 'm'}

In [94]:
a = set(["January","February", "March", "April", "May", "June"])     
print(a)     
a.pop();    
a.pop();     
print(a)

{'May', 'April', 'June', 'March', 'February', 'January'}
{'June', 'March', 'February', 'January'}

In [95]:
# union

In [96]:
a=set(['january','february','march'])
b=set(['march','april','may'])
print(a.union(b))

{'april', 'may', 'march', 'february', 'january'}

In [97]:
# intersection

In [98]:
a=set(['january','february','march'])
b=set(['march','april','may'])
print(a.intersection(b))

{'march'}

In [99]:
# intersection_update

a= {"Devansh", "bob", "castle"}    
b = {"bob", "dude", "emyway"}    
c = {"fuson", "bob", "castle"}    
    
a.intersection_update(b, c)
print(a)

{'bob'}

In [100]:
# using subraction 
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2)

{'Wednesday', 'Thursday'}

In [101]:
a={'mallareddy','cmr','jntuh'}
b={'cmr','vasavi','cbit'}
print(a.difference(b))
print(b.difference(a))

{'mallareddy', 'jntuh'}
{'vasavi', 'cbit'}

In [102]:
# symmetric Difference()
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a.symmetric_difference(b)  
print(c)

{3, 4, 5, 6, 8, 9, 10}

In [103]:
# Write the program to find the issuperset, issubset and superset.
a = set(["Peter","James","Camroon","Ricky","Donald"])  
b = set(["Camroon","Washington","Peter"])  
c = set(["Peter"])  
  
issubset = a >= b  
print(issubset)  
issuperset = a <= b  
print(issuperset)  
issubset = c <= b
print(issubset)  
issuperset = b >= c 
print(issuperset)

False
False
True
True