# Tuple Data type

In [ ]:
# Python Tuple is used to store the sequence of immutable Python objects. 
# The tuple is similar to lists since the value of the items stored in the list can be changed,
# where as the tuple is immutable, and the value of the items stored in the tuple cannot be changed.

In [21]:
# tuple has only 2 pre defined methods 
# index 
# count

In [22]:
a=(1,2,3)
type(a)

tuple

In [23]:
a=(1,2,3,4)
b=len(a)
print(b)

4

In [24]:
a=(1,2,3,4,4)
a.count(4)

2

In [25]:
a=(1,2,3,4)
a.index(4)

3

In [26]:
# using slicing concept
a=(1,2,3,4,5,6,7,8)
print(a[2:])

(3, 4, 5, 6, 7, 8)

In [27]:
# reverse
a=(1,2,3,4,5,6,7,8)
print(a[::-1])

(8, 7, 6, 5, 4, 3, 2, 1)

In [28]:
# A tuple can be written as the collection of comma-separated (,) values enclosed with the small () brackets.
# The parentheses are optional but it is good practice to use. A tuple can be defined as follows.

In [29]:
a = (101, "Peter", 22)    
b = ("Apple", "Banana", "Orange")     
c = 10,20,30,40,50  
  
print(type(a))  
print(type(b))  
print(type(c))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [30]:
a = ("python")  
print(type(a))  
#Creating a tuple with single element   
b = ("python",)  
print(type(b))

<class 'str'>
<class 'tuple'>

In [31]:
a = (10, 20, 30, 40, 50, 60)    
print(a)    
count = 0    
for i in a:    
    print("a[%d] = %d"%(count, i))   
    count = count+1

(10, 20, 30, 40, 50, 60)
a[0] = 10
a[1] = 20
a[2] = 30
a[3] = 40
a[4] = 50
a[5] = 60

In [32]:
# using index values
a=('kamal','kumar',12,13)
print(a[0])
print(a[3])

kamal
13