# checking the Data Types

In [1]:
a=12
type(a)

int

In [4]:
a=12.1
type(a)

float

In [6]:
a='sai kamal'
type(a)

str

In [15]:
# importing keywords 

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# if condition
-------------------------------------------

In [18]:
# checking a number is even or odd
# using if condition
a=12

if a%2==0:
    print('even')
else:
    print('odd')

even


# elif condition
----------------------------------


''' 

if expression 1:   
    # block of statements   
  
elif expression 2:   
    # block of statements   
  
elif expression 3:   
    # block of statements   
  
else:
 
 '''

In [21]:
number = int(input("Enter the number?"))  
if number==10:  
    print("number is equals to 10")  
elif number==50:  
    print("number is equal to 50");  
elif number==100:  
    print("number is equal to 100");  
else:  
    print("number is not equal to 10, 50 or 100");

Enter the number?101
number is not equal to 10, 50 or 100

# for loop condition
-------------------------------

In [23]:
# completely depends in between the range

# printing the values from 1 to 100

# the range should be (n+1)

In [25]:
for i in range(1,100):
    print(i,end=" ")
    # print upto 99
    # because the range should  not be  (n) it should be (n+1)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [28]:
a=101
for i in range(a):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [33]:
# printing the pattern using for nested for loop
# *
# * *
# * * *
# * * * *
# * * * * *
n=5
for i in range(0,n+1):
    for j in range(i):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [34]:
# Program to print table of given number.

n = int(input("Enter the number "))  
for i in range(1,11):  
    c = n*i  
    print(n,"*",i,"=",c)

Enter the number 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [35]:
# using string in for loop
str = "Python"  
for i in str:  
    print(i)

P
y
t
h
o
n

In [37]:
# multiplying the number using for loop

list = [1,2,3,4,5,6,7,8,9,10]  
n = 5  
for i in list:  
    c = n*i  
    print(c)

5
10
15
20
25
30
35
40
45
50

# while loop
--------------------------

In [41]:
# printing the numbers from 1 to 100 using while loop

a=1
while(a<=100):
    print(a,end=" ")
    a+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [43]:
# using increment concept in whileloop
i=1   
while(i<=5):    
    print(i)    
    i=i+1    
else:  
    print("The while loop exhausted")

1
2
3
4
5
The while loop exhausted

# break condition

In [58]:
# if we want to break at particular point

for i in range(1,100):    
    if(i==54):
         break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53

In [59]:
# break statement with while loop
i = 0;  
while 1:  
    print(i," ",end=""),  
    i=i+1;  
    if i == 10:  
        break;  
print("came out of while loop");

0  1  2  3  4  5  6  7  8  9  came out of while loop

# continue statement

In [62]:
# skips the elements what we want

for i in range(1,11):
    if(i==6):
        continue;
    print(i,end=" ")
    
# skips the element 6

1 2 3 4 5 7 8 9 10

# pass statement

In [63]:
for i in [1,2,3,4,5]:   
    if(i==4):  
        pass  
        print("This is pass block",i)  
    print(i)

1
2
3
This is pass block 4
4
5